header.header
            .header__column
                a(href=`/guide${routes.guideHome}`)
                    i.fas.fa-plane-departure
            .header__column
                ul
                    li 
                        a(href=`/guide${routes.guideJoin}`) JOIN
                    li 
                        a(href=`/guide${routes.guideLogin}`) LOGIN