header.header
            .header__column
                a(href=`/users${routes.usersHome}`)
                    i.fas.fa-plane-departure
            .header__column
                ul
                    li 
                        a(href=`/users${routes.userJoin}`) JOIN
                    li 
                        a(href=`/users${routes.userLogin}`) LOGIN