html   
    head
        title #{pageTitle} | #{siteTitle}
        script(src="https://kit.fontawesome.com/1c5a7538e9.js" crossorigin="anonymous")
    body
        header.fp-header
            .fp-header__column
                .fp-title
                    i.fas.fa-plane-departure KOMA 
            .fp-header__column
                .fp-info
                    span KOMA는 자유로운 여행을 추구합니다~!
            .fp-header__column
                a(href=`/users${routes.usersHome}`)
                    button.fp-btn__user
                        | Tourist
                a(href=`/guide${routes.guideHome}`)
                    button.fp-btn__guide
                        | Guide
        include ../partials/footer
                        
