.tourBlock {
  background-color: $bgColor;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 90%;
  margin-bottom: 20px;
  height: 400px;
  &__avatar {
    width: 100%;
    height: 65%;
    border-radius: 15px;
  }
  &__column {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    margin-top: 10px;
    .btn-container {
      display: flex;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .concept__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px;
        border: 2px solid $yellow;
        background-color: $bgColorBtn;
        font-size: 12px;
        font-weight: 600;
        padding: 3px;
        border-radius: 20px;
      }
    }
    .tourBlock__title {
      margin-top: 5px;
      margin-left: 10px;
      font-weight: 400;
    }
    .creator-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 5px;
      .creator__img {
        width: 30px;
        border-radius: 100%;
      }
    }
  }
}
