extends layout/main

block content
  .aboutUs-main.container
    .aboutUs-main__content We make you meet real Korea
  .aboutUs-list.container
    .aboutUs-list__column
      .list-head
        .list-head__num 1
        .list-head__title FOOD
      .list-content Find and try best local restaurant
    .aboutUs-list__column 
      .list-head
        .list-head__num 2
        .list-head__title NETWORK
      .list-content  Make a friend and receive help from them 
    .aboutUs-list__column
      .list-head
        .list-head__num 3
        .list-head__title CUSTOMIZED
      .list-content make a journey to your taste 
    .aboutUs-list__column
      .list-head
        .list-head__num 4
        .list-head__title EXPERIENCE
      .list-content No more stereotyped tour, Do adventure


  //- ul 사이트 생성된 이유
  //-   li 우리는 길을 걷다 외국인들로 가득찬 한 음식점을 보았다. 우리의 최애 음식이기도 한 삼겹살 전문점이였다. 우리도 궁금해서 먹어보았지만 그 외국인들에게 부끄러울 정도로 맛이 없었을 뿐만 아니라 가격도 매우 비쌌다. 우리는 이 경험으로 인해 한국을 방문하는 여행객을 위한 진짜 한국 여행을 소개하고 싶어서 만들었다. 정해져 있는 코스도 없다. 꼭 사야하는 쇼핑코스도 없다. 우리는 그저 당신이 원하는 입맛에 맞춰 여행을 제안 할 뿐이다. 그 여행은 진정으로 한국을 경험하고 있는 , 코리얼트립이 검증한 마스터들이 만드는 진짜 한국여행.
      
  //- ul 강점
  //-   li 현지인 추천의 여행을 선택할 수 있다.
  //-   li 내 취향에 맞는 여행 선택할 수 있다.
  //-   li 내가 원하는 시간에 여행할 수 있다.
  //-   li 예약서비스를 제공받을 수 있다.
  //-   li 공통된 관심사를 가진 외국인 친구를 사귈 수 있다.
  //-   li 불필요한 구매를 강요받지 않는다. 

  //- ul 

  