extends layout/main.pug
include mixins/tour.pug

block content
    .main-screen
        div.main-text Meet Real KOREA !
    .tours
        each tour in tours
            +tourBlock({
                avatarUrl:tour.imageUrl,
                title:tour.title,
                id:tour.id,
                concept:tour.concept
            })

    script(src="../static/mainScreen.js")