extends layout/main.pug

block content
    .upload-container
        form(action=`/tour${routes.tourUpload}` method="post" enctype="multipart/form-data" Content-type="application/json")
            input(type="text" name="title" placeholder="Title")
            .box-container
                .thumbnail-box
                    span.thumbnail-info Choose Thumbnail    
                    img.preview-img.hidden(src="" )
                    label(for="thumbnail") Find Image
                    input(type="file" name="thumbnail" id="thumbnail" occept="image/*")
                .category-box
                    ul.category
                        li
                            div.category__name Concept Of Your Trip 😎
                        li
                            input(type="checkbox" class="tourConcept" id="about-food" value="about-food" name="concept[]")
                            label(for="about-food") About Food
                        li
                            input(type="checkbox" class="tourConcept" id="about-shopping" value="about-shopping" name="concept[]")
                            label(for="about-shopping") About Shopping
                        li
                            input(type="checkbox" class="tourConcept" id="K-POP" value="K-POP" name="concept[]")
                            label(for="K-POP") K-POP(idol)
                        li
                            input(type="checkbox" class="tourConcept" id="about-beauty" value="about-beauty" name="concept[]")
                            label(for="about-beauty") About-Beauty
                        li
                            input(type="checkbox" class="tourConcept" id="active" value="active" name="concept[]")
                            label(for="active") Active
                        li
                            input(type="checkbox" class="tourConcept" id="traditional" value="traditional" name="concept[]")
                            label(for="traditional") Traditional
                        li
                            input(type="checkbox" class="tourConcept" id="artistic" value="artistic" name="concept[]")
                            label(for="artistic") Artistic
                        li
                            input(type="checkbox" class="tourConcept" id="calm" value="calm" name="concept[]")
                            label(for="calm") Calm & Cozy
                        li
                            input(type="checkbox" class="tourConcept" id="clean" value="clean" name="concept[]")
                            label(for="clean") Clean
                        li
                            input(type="checkbox" class="tourConcept" id="suburban" value="suburban" name="concept[]")
                            label(for="suburban") Suburban
                        li
                            input(type="checkbox" class="tourConcept" id="urban" value="urban" name="concept[]")
                            label(for="urban") Urban
           
            input(name="description" type="hidden")
            #editor
            button(type="submit" onclick="getCheckConcept()") Upload
    
       

    script(src="../static/editor.js")
    script(src="../static/previewImage.js")
        

    
        
        
    
    
        