extends layout/main.pug

block content
    .tour__thumbnail
        img(src=`/${tour.imageUrl}` height="200px" width="200px")
    .tour__info
        h3.tour__title=tour.title
        #tour__description
        h3.tour__creator=tour.creator.name
        
    script.
        let tour = !{JSON.stringify(tour)}
        var description = document.querySelector("#tour__description");
        description.innerHTML = tour.description;
