extends ../layouts/userMain


block content
    .form-container
        input(type="email" name="email" placeholder="E-mail")
        input(type="password" name="password" placeholder="Password")
    include ../partials/socialLogin