body {
  background-color: $white;
  color: $black;
  font-size: 14px;
}

main {
  width: 100%;
  margin: 0 auto;
  min-height: 70vh;
}

.g-avatar {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.hidden {
  display: none;
}
