body {
  background-color: $bgColor;
  color: $black;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 70vh;
}

.preview-img {
  width: 180px;
  height: 180px;
  padding: 20px;
  border-radius: 30px;
}

.g-avatar {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.hidden {
  display: none;
}
