extends ../layouts/guideMain

block content
    form(action=`/guide${routes.guideJoin}` method="post")
        input(type="text" name="name" placeholder="Name")
        select(name="country")
            option(value="")
                | Country
            option(value="china")
                | China
            option(value="japan")
                | Japan
            option(value="america")
                | America
        select(name="job")
            option(value="")
                | Job
            option(value="international student")
                | International Student
            option(value="japan")
                | 
            option(value="america")
                | America
        input(type="email" name="email" placeholder="Email")
        input(type="password" name="password" placeholder="Password")
        input(type="password" name="check-password" placeholder="Check Password")
        textarea(type="text")