.photo-input {
  width: 347px;
  margin-left: auto;
  margin-right: auto;
  input[id="thumbnail"] {
    position: absolute;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  label[for="thumbnail"] {
    display: inline-block;
    padding: 0.5em 0.75em;
    width: 100%;
    height: 417px;
    color: black;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: $white;
    font-size: 18px;
    color: $black;
    cursor: pointer;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.title-input {
  margin-top: 10px;
  font-size: 40px;
  input {
    padding: 10px 15px;
    width: 100%;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
  }
}

.category-box {
  width: 100%;
  background-color: $white;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  ul {
    padding: 20px;
    font-size: 17px;
    li {
      display: inline;
      .category__name {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        border: 2px solid black;
        color: $black;
        border-radius: 25px;
        white-space: nowrap;
        margin: 3px 2px;
        padding: 8px 12px;
        background-color: $white;
        cursor: pointer;
        &:hover {
          border: 2px solid $bgColor;
          color: $bgColor;
        }
      }
      input[type="checkbox"] {
        position: absolute;
        display: none;
        opacity: 0;
      }
      input[type="checkbox"]:checked + label {
        border: 2px solid $bgColor;
        background-color: $bgColor2;
        color: $white;
        transition: all 0.2s;
      }
    }
  }
}

#map {
  border-radius: 10px;
}
input[value="주소 검색"] {
  font-size: 20px;
  padding: 15px 30px;
  background-color: white;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.language-select {
  display: flex;
  justify-content: center;
  align-items: center;
  select {
    width: 250px;
    // appearance: none;
    padding: 10px 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    border-radius: 10px;
  }
  select:focus {
    outline: none;
  }
  select:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.course-container {
  .course-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      &:last-child {
        width: 100%;
        .plus-button {
          margin: 0 auto;
          text-align: center;
          padding: 20px 0;
          input {
            padding: 15px 30px;
            &:hover {
              background-color: $bgColor;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
      .main {
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: $bgColor;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 40px;
        margin-bottom: 20px;
      }
      .info__column {
        padding-bottom: 5px;
        font-size: 20px;
      }
    }
  }
}

.course-description-container {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  width: 100%;
  max-width: 1141px;
  margin: 0 auto;
  .course-num {
    padding: 0 0 5px 40px;
  }
  .course-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-template-rows: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 0 10px 15px 10px;
    .course-photo {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 0;
      .coursePhoto {
        position: absolute;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
      .courseLabel {
        display: inline-block;
        padding: 0.5em 0.75em;
        width: 100%;
        height: 300px;
        color: black;
        font-size: inherit;
        line-height: normal;
        vertical-align: middle;
        background-color: $white;
        font-size: 18px;
        color: $black;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: rgb(194, 194, 194);
        }
      }
    }
    .course-text {
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      textarea {
        width: 400px;
        border: 1px solid black;
      }
    }
  }
}

.description-textarea,
.hostself-textarea,
.course-text {
  textarea {
    width: 100%;
    height: 300px;
    font-size: 18px;
    padding: 10px;
    font-family: "Montserrat";
    border-radius: 10px;
  }
  textarea:focus {
    outline: none;
  }
}

.uploadBtn-container {
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
}
