.tourUpload-container {
  margin: 40px auto !important;
  width: 1200px;
  height: 80%;
  display: grid;
  grid-template-columns: 130px 1fr;
  border: 3px solid rgb(177, 177, 177);
  // box-shadow: 3px 3px 10px 10px rgb(126, 126, 126);
  background-color: $white;
  .btn-container {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 3px solid rgb(177, 177, 177);
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .list-container {
    background-color: rgba(0, 0, 255, 0.5);
    #jsTourPhotos {
      font-size: 15px;
      font-weight: 600;
      position: relative;
    }
    .category-box {
      width: 450px;
      background-color: $white;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 20px;
      ul {
        padding: 20px;
        li {
          display: inline;
          .category__name {
            margin-bottom: 10px;
          }
          label {
            display: inline-block;
            border: 2px solid $yellow;
            color: $black;
            border-radius: 25px;
            white-space: nowrap;
            margin: 3px 2px;
            padding: 8px 12px;
            background-color: $white;
            cursor: pointer;
            &:hover {
              border: 2px solid $gray;
              background-color: $gray;
              color: $white;
            }
          }
          input[type="checkbox"] {
            position: absolute;
            display: none;
            opacity: 0;
          }
          input[type="checkbox"]:checked + label {
            border: 2px solid $gray;
            background-color: $gray;
            color: $yellow;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}
