html    
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="../../static/editor.css")
        script(src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest")
        script(src="../../static/simple-image.js")
    body
        h1 Tour Upload
        main
            block content

        